@import "../scss/_variables.scss";
@import "../scss-modifications/_elevations.scss";
@import "../scss-modifications/_transition.scss";
@import "../scss/mixins/_breakpoints.scss";

.component-shortlink {
  @include media-breakpoint-down(md) {
    height: 55px;
    position: relative;
    z-index: 20;
  }
}

.shortlink {
  position: relative;

  &-item {
    @include mdc-elevation-transition;
    @include mdc-elevation--z0;
    //  border-radius: 5px; all border radiusses except for buttons must be removed according to Rouven Küng
    //    float: right;
    max-width: 200px;
    position: relative;
    text-align: center;

    @include media-breakpoint-down(md) {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      @include mdc-elevation--z8;

      .shortlink {
        &-body {
          background-color: $white;
          color: $text-muted;
          word-break: break-all;
          white-space: normal;
        }

        &-footer {
          max-height: 300px;
          opacity: 1;
        }
      }
    }

    &:hover {
      .shortlink-body {
      }
    }
  }

  &-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &-body {
    @include system-transition;
    border-radius: 5px 5px 0 0;
    color: $text-muted-white;
    display: block;
    font-size: .875rem;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &-footer {
    background-color: $gray-100;
    border-radius: 0 0 5px 5px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 20px 10px 0;
    @include system-transition;
  }
}
